[Unit] 
Description=Serve API for zipping files in NAS
After=network.target

[Service]
User=aerotract
WorkingDirectory=/home/aerotract/software/zipper-app
ExecStart=/usr/bin/python3 /home/aerotract/software/zipper-app/app.py
Restart=always

[Install]
WantedBy=multi-user.target